.personal-info {
  &-content {
    padding: 40px 0 10px 0;

    .van-cell--clickable {
      display: flex;
      align-items: center;
    }

    .left-cell {
      font-size: 14px;
      .van-icon {
        font-size: 24px;
      }
      .label {
        margin-left: 5px;
      }
    }
    .right-cell {
      font-size: 12px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  &-update-name {
    .update-title {
      background-color: var(--color-border1);
      font-size: 14px;
      padding: 10px;
    }
    .update-form {
      padding: 0 20px;
    }
    .van-field__label {
      width: 60px;
    }
    .van-button {
      margin-top: 20px;
    }
    .tips {
      font-size: 12px;
      padding: 20px 10px 10px 10px;
    }
  }
}
