.balance-bao {
  &-content {
    padding: 40px 0 50px 0;

    &-heade {
      font-size: 12px;
      box-shadow: 0 1.5px 5px 0 #00000026;
      padding: 10px;
      > p {
        span:first-child {
          display: block;
          color: #9c9c9c;
          margin-bottom: 10px;
        }
        span:last-child {
          font-size: 14px;
        }
        .red {
          color: #ff575c;
        }
      }
    }
  }
}
